# This workflow will upload a Python Package to PyPI when a release is created
# For more information see: https://packaging.python.org/guides/publishing-package-distribution-releases-using-github-actions-ci-cd-workflows/

name: Upload Python Package

on:
  release:
    types: [created]

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    # Specifying a GitHub environment is optional, but strongly encouraged
    environment: pypi
    permissions:
      # IMPORTANT: this permission is mandatory for Trusted Publishing
      id-token: write
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Set release tag in VERSION
        run: echo "${{ github.event.release.tag_name }}" > VERSION

      - name: Install dependencies
        run: pip install -U pip setuptools wheel build

      - name: Build package
        run: python -m build

      - name: Publish package to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1

      - name: List files in dist
        run: ls -haltR dist

      - name: Persist wheels directory
        uses: actions/upload-artifact@v4
        with:
          name: wheel_${{ github.event.release.tag_name }}
          path: dist/*.whl
          if-no-files-found: error
